In [95]:
import numpy as np
import pandas as pd

In [104]:
from data_preprocessing import *
from data_preprocessing import make_df_participant_based
folder_path = './Prolific/data_all/'
main_survey_df = get_main_survey_data(folder_path)
post_survey_df = get_post_survey_filter_only(folder_path)
main_survey_done_df = main_survey_done_study(main_survey_df,post_survey_df)
mean_wellbeing_robot(main_survey_done_df)
mean_wellbeing_scooter(main_survey_done_df)

ImportError: cannot import name 'make_df_participant_based' from 'data_preprocessing' (/home/zzahedi/project-wellbeing/data_preprocessing.py)

In [84]:
a0 = main_survey_done_df['drive_name'].str[3]
ow0 = main_survey_done_df['1_total']
oa0 = main_survey_done_df['drive_name'].str[2]
df = pd.concat([a0, oa0, ow0], axis=1)
col = ["a_0", "oa_0", "ow_0"]
df.columns = col
for i in col:
    df[i] = pd.to_numeric(df[i])

print((df.iloc[0:414,:]['a_0'] == 1).sum(), (df.iloc[0:414,:]['oa_0'] == 1).sum())
# print(df_bn['a_0'], df_bn['oa_0'], df_bn['ow_1'])
# print(df_bn['w_1'], df_bn['ow_1'])

208 208

In [4]:
df

     a_0  oa_0      ow_0
0      1     1  3.428571
1      0     0  4.000000
2      1     1  7.000000
3      0     1  6.571429
4      1     0  4.000000
..   ...   ...       ...
596    0     1  4.571429
597    1     1  4.142857
598    1     0  6.857143
599    0     0  3.285714
600    0     0  3.285714

[597 rows x 3 columns]

In [9]:
df['diff'] = df['a_0'] - df['oa_0']

# compute the cumulative sum of the diff column
indices = []
for i in range(len(df)):
    num_ones_col1 = df['a_0'].iloc[:i+1].sum()
    num_ones_col2 = df['oa_0'].iloc[:i+1].sum()
    if num_ones_col1 == num_ones_col2:
        indices.append(i)

# find the largest slice where the number of 1's in both columns are equal
max_slice = (0, 0)
for i in range(len(indices)):
    for j in range(i+1, len(indices)):
        start, end = indices[i], indices[j]
        num_ones_col1 = df['a_0'].iloc[start:end+1].sum()
        num_ones_col2 = df['oa_0'].iloc[start:end+1].sum()
        if num_ones_col1 == num_ones_col2 and end-start > max_slice[1]-max_slice[0]:
            max_slice = (start, end)

# print the largest slice where the number of 1's in both columns are equal
print(f"The largest slice where the number of 1's in both columns are equal is from index {max_slice[0]} to {max_slice[1]}.")

The largest slice where the number of 1's in both columns are equal is from index 0 to 414.

In [11]:
indices = []
for i in range(len(df)):
    num_ones_col1 = df['a_0'].iloc[:i+1].sum()
    num_ones_col2 = df['oa_0'].iloc[:i+1].sum()
    if num_ones_col1 == num_ones_col2:
        indices.append(i)

# loop through all possible slices and print the ones where the number of 1's in both columns are equal
slices = []
for i in range(len(indices)):
    for j in range(i+1, len(indices)):
        start, end = indices[i], indices[j]
        num_ones_col1 = df['a_0'].iloc[start:end+1].sum()
        num_ones_col2 = df['oa_0'].iloc[start:end+1].sum()
        if num_ones_col1 == num_ones_col2:
            slices.append((start, end))

# sort the slices by size (largest to smallest)
slices.sort(key=lambda x: x[1]-x[0], reverse=True)

# print the slices
print("Slices where the number of 1's in both columns are equal:")
for slice in slices:
    print(f"From index {slice[0]} to {slice[1]}")

Slices where the number of 1's in both columns are equal:
From index 0 to 414
From index 0 to 413
From index 1 to 414
From index 1 to 413
From index 2 to 414
From index 0 to 411
From index 2 to 413
From index 0 to 410
From index 1 to 411
From index 0 to 409
From index 1 to 410
From index 2 to 411
From index 0 to 408
From index 1 to 409
From index 2 to 410
From index 0 to 407
From index 1 to 408
From index 2 to 409
From index 1 to 407
From index 2 to 408
From index 2 to 407
From index 48 to 414
From index 48 to 413
From index 48 to 411
From index 48 to 410
From index 48 to 409
From index 48 to 408
From index 48 to 407
From index 66 to 414
From index 66 to 413
From index 67 to 414
From index 67 to 413
From index 66 to 411
From index 66 to 410
From index 67 to 411
From index 66 to 409
From index 67 to 410
From index 66 to 408
From index 67 to 409
From index 66 to 407
From index 67 to 408
From index 67 to 407
From index 169 to 414
From index 169 to 413
From index 169 to 411
From index 169 to 410
From index 169 to 409
From index 169 to 408
From index 169 to 407
From index 0 to 216
From index 198 to 414
From index 0 to 215
From index 1 to 216
From index 198 to 413
From index 1 to 215
From index 2 to 216
From index 2 to 215
From index 198 to 411
From index 201 to 414
From index 198 to 410
From index 201 to 413
From index 198 to 409
From index 198 to 408
From index 201 to 411
From index 198 to 407
From index 201 to 410
From index 201 to 409
From index 201 to 408
From index 201 to 407
From index 0 to 201
From index 0 to 200
From index 1 to 201
From index 1 to 200
From index 2 to 201
From index 0 to 198
From index 2 to 200
From index 216 to 414
From index 0 to 197
From index 1 to 198
From index 216 to 413
From index 1 to 197
From index 2 to 198
From index 2 to 197
From index 216 to 411
From index 216 to 410
From index 216 to 409
From index 216 to 408
From index 216 to 407
From index 0 to 187
From index 1 to 187
From index 2 to 187
From index 0 to 183
From index 1 to 183
From index 2 to 183
From index 0 to 169
From index 0 to 168
From index 1 to 169
From index 48 to 216
From index 1 to 168
From index 2 to 169
From index 48 to 215
From index 2 to 168
From index 0 to 164
From index 1 to 164
From index 2 to 164
From index 48 to 201
From index 48 to 200
From index 48 to 198
From index 66 to 216
From index 48 to 197
From index 66 to 215
From index 67 to 216
From index 67 to 215
From index 48 to 187
From index 48 to 183
From index 66 to 201
From index 66 to 200
From index 67 to 201
From index 67 to 200
From index 66 to 198
From index 66 to 197
From index 67 to 198
From index 67 to 197
From index 48 to 169
From index 66 to 187
From index 48 to 168
From index 67 to 187
From index 66 to 183
From index 48 to 164
From index 67 to 183
From index 66 to 169
From index 66 to 168
From index 67 to 169
From index 67 to 168
From index 66 to 164
From index 67 to 164
From index 0 to 67
From index 0 to 66
From index 1 to 67
From index 0 to 65
From index 1 to 66
From index 2 to 67
From index 1 to 65
From index 2 to 66
From index 0 to 63
From index 2 to 65
From index 1 to 63
From index 2 to 63
From index 0 to 59
From index 1 to 59
From index 2 to 59
From index 0 to 52
From index 1 to 52
From index 2 to 52
From index 0 to 48
From index 0 to 47
From index 1 to 48
From index 169 to 216
From index 1 to 47
From index 2 to 48
From index 169 to 215
From index 2 to 47
From index 169 to 201
From index 169 to 200
From index 169 to 198
From index 169 to 197
From index 48 to 67
From index 48 to 66
From index 169 to 187
From index 198 to 216
From index 48 to 65
From index 198 to 215
From index 48 to 63
From index 201 to 216
From index 169 to 183
From index 201 to 215
From index 48 to 59
From index 408 to 414
From index 408 to 413
From index 409 to 414
From index 0 to 4
From index 48 to 52
From index 409 to 413
From index 410 to 414
From index 1 to 4
From index 198 to 201
From index 408 to 411
From index 410 to 413
From index 411 to 414
From index 0 to 2
From index 2 to 4
From index 198 to 200
From index 408 to 410
From index 409 to 411
From index 411 to 413
From index 0 to 1
From index 1 to 2
From index 66 to 67
From index 408 to 409
From index 409 to 410
From index 410 to 411

In [85]:
df1 = df.iloc[0:414,:]
df1['reordered_ow'] = np.nan

# extract values where col2 is 1 and col1 is 1, assign to appropriate indices in new column
df1.loc[(df['oa_0'] == 1) & (df1['a_0'] == 1), 'reordered_ow'] = df1.loc[(df1['oa_0'] == 1) & (df1['a_0'] == 1), 'ow_0'].values

# extract values where col2 is 1 and col1 is 0, assign to appropriate indices in new column
df1.loc[(df1['oa_0'] == 1) & (df1['a_0'] == 0), 'reordered_ow'] = df1.loc[(df1['oa_0'] == 0) & (df1['a_0'] == 1), 'ow_0'].values

# extract values where col2 is 0 and col1 is 0, assign to appropriate indices in new column
df1.loc[(df1['oa_0'] == 0) & (df1['a_0'] == 0), 'reordered_ow'] = df1.loc[(df1['oa_0'] == 0) & (df1['a_0'] == 0), 'ow_0'].values

# extract values where col2 is 0 and col1 is 1, assign to appropriate indices in new column
df1.loc[(df1['oa_0'] == 0) & (df1['a_0'] == 1), 'reordered_ow'] = df1.loc[(df1['oa_0'] == 1) & (df1['a_0'] == 0), 'ow_0'].values

/tmp/ipykernel_12573/4283648047.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['reordered_ow'] = np.nan
/home/zzahedi/project-wellbeing/envpgmpy/lib/python3.8/site-packages/pandas/core/indexing.py:1773: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_column(ilocs[0], value, pi)

In [86]:
df1

     a_0  oa_0      ow_0  reordered_ow
0      1     1  3.428571      3.428571
1      0     0  4.000000      4.000000
2      1     1  7.000000      7.000000
3      0     1  6.571429      4.000000
4      1     0  4.000000      6.571429
..   ...   ...       ...           ...
411    0     0  3.142857      3.142857
412    0     0  4.285714      4.285714
413    0     0  4.714286      4.714286
414    0     1  5.714286      5.428571
415    1     0  5.428571      5.714286

[414 rows x 4 columns]

In [89]:

df_new = pd.concat([df1, df.iloc[414:601,:]], axis = 0)

In [90]:
df_new

     a_0  oa_0      ow_0  reordered_ow
0      1     1  3.428571      3.428571
1      0     0  4.000000      4.000000
2      1     1  7.000000      7.000000
3      0     1  6.571429      4.000000
4      1     0  4.000000      6.571429
..   ...   ...       ...           ...
596    0     1  4.571429           NaN
597    1     1  4.142857           NaN
598    1     0  6.857143           NaN
599    0     0  3.285714           NaN
600    0     0  3.285714           NaN

[597 rows x 4 columns]

In [91]:
df_new.iloc[415:598,:]['reordered_ow'] = df_new.iloc[414:598,:]['ow_0']

/tmp/ipykernel_12573/2810640563.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_new.iloc[415:598,:]['reordered_ow'] = df_new.iloc[414:598,:]['ow_0']

In [92]:
df_new

     a_0  oa_0      ow_0  reordered_ow
0      1     1  3.428571      3.428571
1      0     0  4.000000      4.000000
2      1     1  7.000000      7.000000
3      0     1  6.571429      4.000000
4      1     0  4.000000      6.571429
..   ...   ...       ...           ...
596    0     1  4.571429      4.571429
597    1     1  4.142857      4.142857
598    1     0  6.857143      6.857143
599    0     0  3.285714      3.285714
600    0     0  3.285714      3.285714

[597 rows x 4 columns]

In [46]:
print(df_new)

     a_0  oa_0      ow_0  reordered_ow
0      1     1  3.428571      6.857143
1      0     0  4.000000      3.285714
2      1     1  7.000000      7.000000
3      0     1  6.571429      4.000000
4      1     0  4.000000      6.571429
..   ...   ...       ...           ...
596    0     1  4.571429      4.571429
597    1     1  4.142857      4.142857
598    1     0  6.857143      6.857143
599    0     0  3.285714      3.285714
600    0     0  3.285714      3.285714

[597 rows x 4 columns]

In [93]:
used_indices = []
# loop through the rows and update the values of reordered_ow based on a_0 and reordered_ow
for i in range(416, 597):
    if df_new.iloc[i,:]['a_0'] == 1:
        for j in range(0, 415):
            if df_new.iloc[j,:]['a_0'] == 1 and j not in used_indices:
                df_new.at[i,'reordered_ow']= df_new.iloc[j,:]['reordered_ow']
                used_indices.append(j)
                break
    elif df_new.iloc[i,:]['a_0'] == 0:
        for j in range(0, 415):
            if df_new.iloc[j,:]['a_0'] == 0 and j not in used_indices:
                df_new.at[i, 'reordered_ow']= df_new.iloc[j,:]['reordered_ow']
                used_indices.append(j)
                break

In [94]:
df_new

     a_0  oa_0      ow_0  reordered_ow
0    1.0   1.0  3.428571      3.428571
1    0.0   0.0  4.000000      4.000000
2    1.0   1.0  7.000000      7.000000
3    0.0   1.0  6.571429      4.000000
4    1.0   0.0  4.000000      6.571429
..   ...   ...       ...           ...
598  1.0   0.0  6.857143      6.857143
599  0.0   0.0  3.285714      3.285714
600  0.0   0.0  3.285714      3.285714
427  NaN   NaN       NaN      3.571429
513  NaN   NaN       NaN      6.285714

[599 rows x 4 columns]

In [79]:
col_list =  df_new['reordered_ow'].tolist()

In [81]:
print(col_list)

[5.428571428571429, 4.0, 7.0, 4.0, 6.571428571428571, 2.2857142857142856, 4.571428571428571, 3.0, 3.7142857142857144, 5.428571428571429, 6.142857142857143, 3.5714285714285716, 7.0, 2.857142857142857, 5.142857142857143, 3.7142857142857144, 3.7142857142857144, 5.142857142857143, 4.857142857142857, 6.714285714285714, 6.0, 5.0, 6.0, 5.0, 6.857142857142857, 5.285714285714286, 3.857142857142857, 5.285714285714286, 3.4285714285714284, 5.0, 4.285714285714286, 4.714285714285714, 5.0, 5.714285714285714, 5.571428571428571, 4.0, 6.142857142857143, 6.142857142857143, 4.285714285714286, 6.142857142857143, 4.0, 5.428571428571429, 4.0, 4.142857142857143, 6.857142857142857, 4.142857142857143, 5.428571428571429, 5.285714285714286, 3.2857142857142856, 5.428571428571429, 2.857142857142857, 4.857142857142857, 5.428571428571429, 3.2857142857142856, 6.142857142857143, 4.857142857142857, 5.285714285714286, 7.0, 4.571428571428571, 6.142857142857143, 6.142857142857143, 4.714285714285714, 5.857142857142857, 6.142857142857143, 6.0, 4.428571428571429, 2.2857142857142856, 5.857142857142857, 5.571428571428571, 4.285714285714286, 3.7142857142857144, 4.0, 2.2857142857142856, 2.2857142857142856, 6.0, 5.142857142857143, 5.857142857142857, 5.142857142857143, 5.714285714285714, 5.285714285714286, 5.142857142857143, 7.0, 5.857142857142857, 4.714285714285714, 7.0, 4.571428571428571, 3.5714285714285716, 3.2857142857142856, 4.142857142857143, 6.571428571428571, 6.285714285714286, 7.0, 4.714285714285714, 3.0, 4.714285714285714, 4.0, 4.142857142857143, 5.285714285714286, 4.571428571428571, 4.142857142857143, 4.857142857142857, 4.428571428571429, 5.857142857142857, 3.7142857142857144, 6.0, 4.285714285714286, 6.714285714285714, 5.714285714285714, 2.5714285714285716, 4.0, 6.285714285714286, 6.142857142857143, 2.857142857142857, 4.285714285714286, 5.142857142857143, 6.285714285714286, 6.0, 6.285714285714286, 3.0, 4.0, 7.0, 4.857142857142857, 4.571428571428571, 5.857142857142857, 4.0, 6.142857142857143, 5.571428571428571, 5.714285714285714, 5.142857142857143, 5.857142857142857, 4.857142857142857, 6.571428571428571, 5.142857142857143, 4.0, 4.285714285714286, 5.714285714285714, 4.142857142857143, 5.142857142857143, 4.0, 3.4285714285714284, 6.142857142857143, 7.0, 5.142857142857143, 5.0, 6.0, 5.142857142857143, 3.857142857142857, 5.142857142857143, 3.7142857142857144, 4.0, 6.285714285714286, 2.5714285714285716, 4.571428571428571, 5.428571428571429, 6.142857142857143, 2.5714285714285716, 4.571428571428571, 6.0, 6.571428571428571, 6.142857142857143, 4.714285714285714, 5.714285714285714, 5.571428571428571, 5.142857142857143, 4.0, 5.857142857142857, 5.571428571428571, 5.142857142857143, 3.5714285714285716, 6.857142857142857, 4.428571428571429, 4.714285714285714, 4.857142857142857, 7.0, 4.285714285714286, 7.0, 6.571428571428571, 5.857142857142857, 3.4285714285714284, 1.8571428571428572, 2.7142857142857144, 3.142857142857143, 4.142857142857143, 6.285714285714286, 3.7142857142857144, 6.0, 3.4285714285714284, 6.714285714285714, 3.7142857142857144, 4.714285714285714, 1.8571428571428572, 4.857142857142857, 6.0, 4.428571428571429, 4.142857142857143, 7.0, 5.571428571428571, 5.0, 6.571428571428571, 5.714285714285714, 3.857142857142857, 4.714285714285714, 6.0, 3.5714285714285716, 2.5714285714285716, 4.571428571428571, 5.285714285714286, 5.285714285714286, 3.7142857142857144, 4.714285714285714, 4.714285714285714, 3.0, 6.571428571428571, 4.571428571428571, 5.142857142857143, 6.714285714285714, 2.0, 3.857142857142857, 3.7142857142857144, 6.0, 3.4285714285714284, 3.857142857142857, 4.142857142857143, 5.0, 4.0, 3.857142857142857, 3.142857142857143, 4.571428571428571, 6.0, 5.285714285714286, 5.0, 6.571428571428571, 5.0, 5.571428571428571, 4.428571428571429, 4.142857142857143, 3.857142857142857, 5.714285714285714, 2.4285714285714284, 4.571428571428571, 3.0, 6.142857142857143, 5.142857142857143, 3.4285714285714284, 7.0, 6.571428571428571, 5.857142857142857, 4.714285714285714, 5.857142857142857, 1.8571428571428572, 6.714285714285714, 3.7142857142857144, 2.4285714285714284, 5.285714285714286, 4.857142857142857, 6.714285714285714, 5.0, 5.428571428571429, 3.0, 4.857142857142857, 2.142857142857143, 4.428571428571429, 4.571428571428571, 4.714285714285714, 3.7142857142857144, 7.0, 5.857142857142857, 5.857142857142857, 3.857142857142857, 2.857142857142857, 3.142857142857143, 6.571428571428571, 6.0, 5.142857142857143, 6.714285714285714, 4.0, 3.2857142857142856, 4.857142857142857, 5.142857142857143, 2.7142857142857144, 4.714285714285714, 4.142857142857143, 5.857142857142857, 1.7142857142857142, 4.857142857142857, 6.714285714285714, 6.0, 3.857142857142857, 4.857142857142857, 5.714285714285714, 3.7142857142857144, 4.285714285714286, 6.571428571428571, 5.428571428571429, 5.0, 3.0, 6.571428571428571, 5.571428571428571, 2.7142857142857144, 6.571428571428571, 4.714285714285714, 4.285714285714286, 4.714285714285714, 6.714285714285714, 5.285714285714286, 7.0, 5.571428571428571, 3.857142857142857, 6.0, 5.857142857142857, 5.0, 3.2857142857142856, 3.5714285714285716, 4.714285714285714, 4.857142857142857, 5.714285714285714, 6.714285714285714, 4.714285714285714, 4.714285714285714, 4.714285714285714, 4.714285714285714, 6.571428571428571, 6.714285714285714, 6.428571428571429, 4.428571428571429, 7.0, 6.428571428571429, 6.0, 7.0, 5.571428571428571, 4.714285714285714, 3.4285714285714284, 5.857142857142857, 3.142857142857143, 3.4285714285714284, 4.857142857142857, 5.285714285714286, 5.428571428571429, 2.4285714285714284, 5.0, 5.428571428571429, 5.428571428571429, 2.5714285714285716, 5.571428571428571, 6.428571428571429, 5.714285714285714, 5.428571428571429, 6.857142857142857, 5.0, 6.571428571428571, 7.0, 6.857142857142857, 4.857142857142857, 6.0, 4.428571428571429, 5.571428571428571, 6.285714285714286, 5.285714285714286, 4.142857142857143, 5.142857142857143, 6.571428571428571, 4.857142857142857, 4.142857142857143, 5.142857142857143, 6.428571428571429, 4.142857142857143, 6.428571428571429, 6.857142857142857, 6.428571428571429, 4.857142857142857, 6.857142857142857, 5.0, 4.857142857142857, 6.142857142857143, 6.428571428571429, 3.4285714285714284, 6.571428571428571, 2.857142857142857, 6.142857142857143, 5.857142857142857, 4.142857142857143, 6.142857142857143, 4.0, 5.714285714285714, 5.0, 4.571428571428571, 5.714285714285714, 4.0, 6.0, 6.571428571428571, 2.0, 6.428571428571429, 2.7142857142857144, 2.7142857142857144, 5.714285714285714, 4.285714285714286, 4.285714285714286, 4.857142857142857, 6.714285714285714, 4.571428571428571, 5.428571428571429, 3.857142857142857, 5.714285714285714, 6.142857142857143, 1.8571428571428572, 6.142857142857143, 4.142857142857143, 5.857142857142857, 5.714285714285714, 3.142857142857143, 4.285714285714286, 4.714285714285714, 5.428571428571429, 5.714285714285714, 5.428571428571429, 4.0, 7.0, 6.571428571428571, 4.0, 2.2857142857142856, 4.571428571428571, 3.7142857142857144, 5.428571428571429, 3.0, 6.142857142857143, 2.857142857142857, 7.0, 5.142857142857143, 3.7142857142857144, 3.7142857142857144, 4.857142857142857, 5.142857142857143, 6.0, 5.0, 5.285714285714286, 6.714285714285714, 3.4285714285714284, 5.0, 6.0, 5.0, 6.857142857142857, 5.285714285714286, 3.857142857142857, 4.714285714285714, 6.142857142857143, 4.285714285714286, 4.285714285714286, 4.0, 5.0, 5.714285714285714, 5.571428571428571, 4.0, 4.0, 6.142857142857143, 6.142857142857143, 5.428571428571429, 3.2857142857142856, 6.142857142857143, 5.428571428571429, 4.857142857142857, 4.142857142857143, 6.857142857142857, 4.142857142857143, 5.285714285714286, 5.428571428571429, 5.285714285714286, 5.857142857142857, 6.142857142857143, 3.2857142857142856, 2.857142857142857, 6.0, 4.857142857142857, 5.428571428571429, 2.2857142857142856, 7.0, 5.857142857142857, 2.2857142857142856, 4.571428571428571, 6.0, 6.142857142857143, 6.142857142857143, 5.857142857142857, 5.714285714285714, 4.714285714285714, 4.428571428571429, 5.571428571428571, 5.285714285714286, 7.0, 4.142857142857143, 6.571428571428571, 6.285714285714286, 4.285714285714286, 4.714285714285714, 3.7142857142857144, 4.142857142857143, 5.857142857142857, 4.0, 2.2857142857142856, 6.714285714285714, 5.714285714285714, 5.142857142857143, 5.142857142857143, 4.0, 5.142857142857143, 5.857142857142857, 4.714285714285714, 6.285714285714286, 6.142857142857143, 6.285714285714286, 6.0, 7.0, 4.571428571428571, 3.5714285714285716, 7.0, 3.2857142857142856, 4.857142857142857, 7.0, 3.0, 4.714285714285714, 4.0, 5.285714285714286, 5.857142857142857, 6.142857142857143, 4.571428571428571, 4.142857142857143, 5.714285714285714, 4.857142857142857, 4.428571428571429, 5.857142857142857, 4.857142857142857, 3.7142857142857144, 6.0, 4.285714285714286, 2.5714285714285716, 5.142857142857143, 2.857142857142857, 4.285714285714286, 5.714285714285714, 6.142857142857143, 7.0, 4.285714285714286, 5.142857142857143, 3.0, 5.142857142857143, 4.0, 5.0, 6.0, 6.285714285714286, 4.571428571428571, 4.571428571428571, 4.0, 5.571428571428571, 5.142857142857143, 6.571428571428571, 5.428571428571429, 4.0, 4.142857142857143, 6.142857142857143, 4.571428571428571, 5.142857142857143, 4.0, 6.0, 3.4285714285714284, 6.571428571428571, 6.142857142857143, 5.142857142857143, 5.714285714285714, 5.142857142857143, 4.0, 5.857142857142857, 3.857142857142857, 5.571428571428571, 6.857142857142857, 4.857142857142857, 5.142857142857143, 3.7142857142857144, 4.285714285714286, 7.0, 4.0, 6.571428571428571, 5.857142857142857, 3.142857142857143, 4.142857142857143, 2.5714285714285716, 2.5714285714285716, 4.714285714285714, 6.285714285714286, 6.714285714285714, 5.571428571428571, 4.857142857142857, 6.0, 5.142857142857143, 3.5714285714285716, 4.142857142857143, 6.857142857142857, 3.2857142857142856, 3.2857142857142856, 3.5714285714285716, 6.285714285714286]